.area {
    max-width: 950px;
    width: 100%;
    float: none !important;
    margin: auto;
    display: flex;
}

.forms {
    display: flex;
}



.search {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    margin-top: 5px;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #2d2d2d;
    line-height: 1.125rem;
    overflow: hidden;
    height: 1.125rem;
}

.deb {
  margin-right: 0.5rem;
  overflow-y: scroll;
  width: 24rem;
  border: 0.0625rem solid #949494 !important;
  border-radius: 0.5rem;
  z-index: 1;
  max-height: 300px;
}

.deb::-webkit-scrollbar {
  display: none;
}

.lab {
    padding-right: 1rem;
    font-weight: 700;
    display: inline-block !important;
}
.inp {
    width: 100%;
    margin-right: 30px;
  }

.inpu {
    width: 100%;
    border: none;
    font-size: 1rem;
    line-height: 1.25rem;
    outline: none;
}

.inpu:focus {
    outline: none;
    border: none;
}

.deb2 {
    margin-right: 0.5rem;
    /* overflow-y: scroll; */
    width: 24.5rem;
    border: 0.0625rem solid #949494 !important;
    border-radius: 0.5rem;
    height: 50px;
  }

  .search2 {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    margin-top: 5px;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #2d2d2d;
    line-height: 1.125rem;
    overflow: hidden;
    height: 1.125rem;
}

.inp2 {
  width: 100%;
  margin-right: 30px;
}

.inpu2 {
  width: 100%;
  border: none;
  font-size: 1rem;
  line-height: 1.25rem;
  outline: none;
}

.inpu2:focus {
  outline: none;
  border: none;
}

.lab2 {
  padding-right: 1rem;
  font-weight: 700;
  display: inline-block !important;
}

  .btn {
    width: 200px;
    font-weight: 600;
    background-color: #2557a7;
    border: 0.0625rem solid transparent !important;
    max-height: 50px;
    border-radius: 8px;
  }
  
  .btn a {
    color: white;
  }
  
  .btn a:hover {
    color: white;
  }

    /* debouncing */

.autocomplete {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0, 3);
}

.autocompleteItems {
  background-color: white;
  padding: 10px 5px;
  cursor: pointer;
  padding-left: 15px;
  color: black;
}


@media (max-width: 620px) {
  
  .area {
    max-width: 619px !important;
    width: 100% !important;
    margin: 0 auto;
    display: block;
  }
  form {
    padding-top: 1rem;
    flex-direction: column;
  }
  .deb {
    margin-bottom: 1.5rem;
    width: 23rem !important;
    padding: 5px;
    padding-bottom: 5px !important;
    max-height: 150px;
    z-index: 100 !important;
  }
  .deb2 {
    margin-bottom: 1.5rem;
    width: 23rem !important;
    padding: 5px;
    padding-bottom: 5px !important;
    max-height: 150px;
    z-index: 100 !important;
  }
  .btn {
    width: 91% !important;
    height: 40px;
    position: absolute !important;
    top: 33vh;
    background-color: #2557a7;
    border: 0.0625rem solid transparent !important;
  }
  .btn a {
    color: white;
    font-weight: 600;
  }
  .btn a:hover {
    color: white !important;
  }
  .search{
    margin-top: 5px;
  }
}